@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;800;900&family=Poppins:wght@300;400;500;600&display=swap");

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	scroll-behavior: smooth;
	font-family: "Poppins", sans-serif;
}

:root {
	--bg-color: #000000;
	--second-bg-color: #000000;
	--text-color: #fff;
	--second-color: #ccc;
	--main-color: #93c37b;
	--yt-color: rgba(255, 0, 0, 0.752);
	--big-font: 5rem;
	--h2-font: 3rem;
	--p-font: 1.1rem;
}

body {
	background: var(--bg-color);
	color: var(--text-color);
}

header {
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: transparent;
	padding: 22px 15%;
	border-bottom: 1px solid transparent;
	transition: all 0.45s ease;
}

.logo {
	color: var(--text-color);
	font-size: 45px;
	font-weight: 700;
	letter-spacing: 1px;
}

span {
	color: var(--main-color);
}

.navlist {
	display: flex;
}

.navlist a {
	color: var(--second-color);
	font-size: 17px;
	font-weight: 500;
	margin: 0 25px;
	transition: all 0.45s ease;
}

.navlist a:hover {
	color: var(--main-color);
}

.navlist a.active {
	color: var(--main-color);
}

#menu-icon {
	font-size: 35px;
	color: var(--text-color);
	z-index: 1000;
	cursor: pointer;
	margin-left: 25px;
	display: none;
}

section {
	padding: 160px 15% 120px;
}

.home {
	position: relative;
	height: 100vh;
	width: 100%;
	display: flex;

	/* Changed to center to align items in the middle */
}

.home-video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	z-index: 1; /* Ensure this is above the video but below other content */
}

#homeVideo {
	min-width: 100%; /* Ensures the video covers the full width */
	min-height: 100%; /* Ensures the video covers the full height */
	object-fit: cover; /* Makes sure the video maintains its aspect ratio */
	z-index: -1; /* Places the video behind the text */
}

.home-video-container::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.767); /* Black color with 50% opacity */
	z-index: 2; /* Above the video */
}

/* New styles for the text overlay */
.home-text-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white; /* Text color */
	z-index: 3; /* Ensure text is above everything else */
}

.intro-heading {
	font-size: 5.5rem;
	color: white;
	line-height: 1.2;
	text-align: left; /* Aligns the text to the left */
	max-width: 80%; /* Limits the width to allow wrapping */
	margin-left: 13%; /* Floats the heading to the left */
	overflow: hidden; /* Ensures the text doesn't overflow its container */
	white-space: normal; /* Allows the text to wrap */
	display: inline-block; /* Allows for floating */
}

.slide span {
	font-size: 2rem; /* Example styling */
	margin-bottom: 10px;
}

h1,
h3,
p {
	margin: 0 auto; /* Center the headings and paragraph */
	max-width: 600px; /* Limit the width of the text container */
	padding: 0 20px; /* Add some padding around the text */
}

.button {
	margin-top: 20px; /* Space between the paragraph and the button */
}

.slide {
	margin-bottom: 20px;
}

.one {
	display: inline-block;
	margin-right: 15px;
	padding: 0 15px;
	line-height: 32px;
	font-size: 20px;
	font-weight: 500;
	border-radius: 5px;
	background: var(--main-color);
	color: var(--text-color);
}

.two {
	display: inline-block;
	color: var(--second-color);
	font-size: 20px;
	font-weight: 500;
}

.home-text h1 {
	font-size: var(--big-font);
	font-weight: 700;
	color: var(--text-color);
	line-height: 1.1;
	margin: 0 0 8px;
}

.home-text h3 {
	color: var(--text-color);
	margin: 0 0 35px;
	font-size: 3rem;
	font-weight: 700;
	line-height: 1.1;
}

.home-text p {
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 40px;
}

.button {
	display: inline-block;
	align-items: center;
	justify-content: center;
}

.button1 {
	margin-top: 20px;
	margin-right: 66%;
}

.btn {
	display: inline-block;
	padding: 12px;
	background: var(--main-color);

	color: black;
	font-size: 1.5rem;
	letter-spacing: 1px;
	font-weight: 500;
	transition: all 0.45s ease;
}

.contactbutton {
	padding-left: 50px;
	padding-right: 50px;
	margin-left: 70px;
}

.btn:hover {
	transform: scale(0.9);
}

.about {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 1.5rem;
}

.about-img div {
	font-size: 60px;
	font-weight: bold;
}

.about-text p {
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 4rem;
}

.services {
	background: var(--second-bg-color);
}

.main-text {
	text-align: center;
}

.main-text p {
	color: var(--second-color);
	font-size: 15px;
	margin-bottom: 15px;
}
.main-text h1 {
	font-size: 90px;
	line-height: 1;
}

.main-text h2 {
	font-size: 70px;
	line-height: 1;
}

.services-content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	align-items: center;
	gap: 2.5rem;
	margin-top: 5rem;
}

.box {
	background: var(--bg-color);
	padding: 35px 45px;
	border-radius: 8px;
	transition: all 0.45s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%; /* Adjust based on your layout needs */
	height: 320px; /* Fixed height for consistency */
}

.box h1 {
	font-size: 40px;
}

.box img {
	width: 100%;
	height: 100%;
	object-fit: cover; /* Cover the entire area of the box, potentially cropping the image */
}

/* .box:hover {
	transform: translateY(-8px);
	cursor: pointer;
} */

.portfolio-content {
	margin-top: 50px;
	display: grid;
	grid-template-rows: auto auto; /* Creates two rows */
	gap: 40px; /* Adjust the gap between rows and columns as needed */
}

.container,
.new-container {
	display: contents; /* This makes the direct children of.container and.new-container participate in the grid flow */
}

.rectangle,
.new-rectangle {
	grid-column: span 1; /* Each item spans 1 fraction of the available space */
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Creates three equal columns */
	gap: 20px; /* Adjust the gap between items as needed */
}

.row {
	position: relative;
	overflow: hidden;
	border-radius: 8px;
	cursor: pointer;
}

.row img {
	width: 100%;
	border-radius: 8px;
	display: block;
	transition: transform 0.5s;
}

.layer {
	width: 100%;
	height: 0;
	background: linear-gradient(rgba(0, 0, 0, 0.1), #00a6ff);
	position: absolute;
	border-radius: 8px;
	left: 0;
	bottom: 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 40px;
	transition: height 0.5s;
}

.layer h5 {
	font: 20px;
	font-weight: 600;
	margin-bottom: 15px;
}

.layer p {
	color: var(--second-color);
	font-size: 1rem;
	line-height: 1.8;
}

.layer i {
	color: var(--main-color);
	margin-top: 20px;
	font-size: 20px;
	background: var(--text-color);
	width: 60px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
}

.row:hover img {
	transform: scale(1.1);
}

.row:hover .layer {
	height: 100%;
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: center;

	gap: 40px; /* Adjust the gap as needed */
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Creates three equal columns */
	gap: 20px; /* Adjust the gap between items as needed */
}
.container2 {
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* Creates three equal columns */
	gap: 20px; /* Adjust the gap between items as needed */
}

.video-container {
	position: relative;
	width: 100%;
	padding-bottom: 56.25%; /* 16:9 aspect ratio */
	height: 0;
	overflow: hidden;
}

.video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
}

.rectangle {
	position: relative;
	width: 400px; /* Adjust the width as needed */
	height: 700px; /* Adjust the height as needed */
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	border-radius: 20px;
}

.newrectangle {
	position: relative;
	width: 400px; /* Adjust the width as needed */
	height: 250px; /* Adjust the height as needed */
	background-color: white;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}

.rectangle img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.rectangle video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.rectangle:hover video {
	opacity: 1;
}
.rectangle:hover {
	transform: scale(1.03); /* Scales up the rectangle by 5% on hover */
	transition: transform 0.4s ease; /* Smooth transition for scaling */
}

.contact {
	background: var(--second-bg-color);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	align-items: center;
	gap: 1rem;
}

.contact-text {
	margin-bottom: 24rem;
}

.contact-text h4 {
	color: var(--text-color);
	margin: 18px 0;
	font-size: 20px;
	font-weight: 600;
}

.contacth1 {
	font-size: 70px;
	white-space: nowrap; /* Ensures the text stays in a single line */
	text-align: left; /* Aligns the text to the left */
	margin-left: 250px;
	margin-top: 150px;
}

.contact-text p {
	color: var(--second-color);
	font-size: var(--p-font);
	line-height: 1.8;
	margin-bottom: 30px;
}

.list {
	margin-top: 1.8rem;
	margin-bottom: 2.8rem;
}

.list li {
	margin-bottom: 12px;
}

.list li a {
	display: block;
	color: var(--second-color);
	font-size: 20px;
	transition: all 0.45s ease;
}

.list li a:hover {
	color: var(--text-color);
	transform: translateY(5px);
}

.contact-icons i {
	height: 45px;
	width: 45px;
	color: white;
	font-size: 22px;
	display: inline-block;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	margin-right: 15px;
	transition: all 0.45s ease;
}

.contact-icons i:hover {
	color: rgba(70, 57, 248, 0.884);
}

.contact-icons .bxl-youtube:hover {
	color: var(--yt-color);
}

.contact-icons .bxl-instagram-alt:hover {
	color: #ee33d5;
}

.contact-form form {
	position: relative;
}

.contact-form form input,
form textarea {
	width: 100%;
	padding: 14px;
	background: var(--bg-color);
	color: var(--text-color);
	border: none;
	outline: none;
	font-size: 15px;
	border-radius: 0px;
	margin-bottom: 10px;
}

.contact-form textarea {
	resize: none;
	height: 240px;
}

.contact-form .submit {
	display: inline-block;
	font-size: 16px;
	background: var(--main-color);
	color: var(--text-color);
	width: 160px;
	transition: all 0.45s ease;
}

.contact-form .submit:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.end {
	padding: 20px 15%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	gap: 2rem;
	background: var(--bg-color);
}

.last-text p {
	color: var(--second-color);
	font-size: 14px;
}

.top i {
	padding: 10px;
	border-radius: 8px;
	font-size: 15px;
	color: var(--text-color);
	background: var(--main-color);
}

/* Existing CSS code */

/* Media query for screens with a maximum width of 600px */
@media (max-width: 600px) {
	body {
		text-align: center;
	}

	.intro-heading {
		font-size: 3rem;
		text-align: center;
		margin-left: 0;
	}

	.home-text-overlay {
		margin-left: 0;
		margin-top: 50px;
	}

	.home-text-overlay .button1 {
		margin-right: 0;
	}

	.about {
		grid-template-columns: 1fr;
		text-align: center;
	}

	.about-img div {
		font-size: 2rem;
	}

	.about-text p {
		font-size: 1rem;
		margin-bottom: 2rem;
	}

	.services-content {
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, auto);
	}

	.portfolio-content .container,
	.portfolio-content .container2 {
		grid-template-columns: 1fr;
	}

	.rectangle,
	.newrectangle {
		width: 100%;
		height: auto;
	}

	.contact {
		grid-template-columns: 1fr;
		text-align: center;
	}

	.contact-text {
		margin-bottom: 2rem;
	}

	.contact-form {
		margin-top: 2rem;
	}

	.navlist {
		display: none;
	}

	#menu-icon {
		display: block;
	}

	.navlist.active {
		display: block;
		position: absolute;
		top: 60px;
		right: 0;
		background: var(--bg-color);
		width: 100%;
		text-align: center;
	}

	.navlist.active li {
		margin: 20px 0;
	}
}
